nav {
  width: 100vw;
  height: 5rem;
  display: grid;
  place-items: center;
  background: var(--color-primary);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  box-shadow: 0 1rem 1.5rem hsla(var(--primary-hue), 68%, 42%, 20%);
  transition: var(--transition);
}

.nav__container {
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.nav__logo {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav__menu {
  display: flex;
  gap: 3.5rem;
}

.nav__menu a {
  color: white;
  font-weight: 500;
  transition: var(--transition);
}

.nav__menu a:hover {
  opacity: 0.8;
}

#theme__icon {
  background: transparent;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .nav__menu {
    display: none;
  }
}
